
<div style="width: 80%; margin: auto;">
	<img src="images/map.png" style="height: auto; width: 100%;"/>
	<div id="graph">
		<center>
			<img src="images/graph.png" />
		</center>
	</div>
	<div class="row">
		<div class="col-md-3 top-bottom-margin">
			<p class="big-label">John Doe</p>
			<P>My Home</P>
			<p>Islington</p>
			<p>London, UK</p>
		</div>
		<div class="col-md-9 " >
			<div class="col-md-4 top-bottom-margin clickable padding">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="images/1.png" alt="bloop">
					</div>
					<div class="col-md-6">
						<p class="big-label">CO</p>
						<p class="tiny">max: 24ppm</p>
						<p class="tiny">EPA: 36ppm</p>
						<p class="tiny">min: 12ppm</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 top-bottom-margin clickable padding">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="images/2.png" alt="bloop">
					</div>
					<div class="col-md-6">
						<p class="big-label">Temp</p>
						<p class="tiny">max: 27C</p>
						<p class="tiny">Met: 24C</p>
						<p class="tiny">min: 14C</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 top-bottom-margin clickable padding">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="images/3.png" alt="bloop">
					</div>
					<div class="col-md-6">
						<p class="big-label">N02</p>
						<p class="tiny">max: 236ppm</p>
						<p class="tiny">EPA: 124ppm</p>
						<p class="tiny">min: 76ppm</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 top-bottom-margin clickable padding">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="images/1.png" alt="bloop">
					</div>
					<div class="col-md-6">
						<p class="big-label">Light</p>
						<p class="tiny">max: 24ppm</p>
						<p class="tiny">EPA: 36ppm</p>
						<p class="tiny">min: 12ppm</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 top-bottom-margin clickable padding">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="images/2.png" alt="bloop">
					</div>
					<div class="col-md-6">
						<p class="big-label">Noise</p>
						<p class="tiny">max: 27C</p>
						<p class="tiny">Met: 24C</p>
						<p class="tiny">min: 14C</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 top-bottom-margin clickable padding">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<img src="images/3.png" alt="bloop">
					</div>
					<div class="col-md-6">
						<p class="big-label">Humidity</p>
						<p class="tiny">max: 236ppm</p>
						<p class="tiny">EPA: 124ppm</p>
						<p class="tiny">min: 76ppm</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

