<div class="">
	<div class="row">
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked what-selector">
				<li role="" class="li-header"><a href="#">Option 1</a></li>
				<hr class="underline">
				<li role="presentation" class="active"><a href="#">Option 1 a</a></li>
				<li role="presentation"><a href="#">Option 1 b</a></li>
				<li role="presentation"><a href="#">Option 1 c</a></li>
				<li role="presentation"><a href="#">Option 1 d</a></li>
				<li role="presentation"><a href="#">Option 1 e</a></li>
				<li role="presentation"><a href="#">Option 1 f</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked as-selector">
				<li role="" class="li-header"><a href="#">Option 2</a></li>
				<hr class="underline">
				<li role="presentation" class="active"><a href="#">Option 2 a</a></li>
				<li role="presentation"><a href="#">Option 2 b</a></li>
				<li role="presentation"><a href="#">Option 2 c</a></li>
				<li role="presentation"><a href="#">Option 2 d</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked time-selector">
				<li role="" class="li-header"><a href="#">Option 3</a></li>
				<hr class="underline">
				<li role="presentation" class="active"><a href="#">Option 3 a</a></li>
				<li role="presentation"><a href="#">Option 3 b</a></li>
				<li role="presentation"><a href="#">Option 3 c</a></li>
				<li role="presentation"><a href="#">Option 3 d</a></li>
				<li role="presentation"><a href="#">Option 3 e</a></li>
			</ul>
		</div>
	</div>
</div>

<hr>
<div>
	<center>
		<img src="images/sample-signs-custom.png" />
	</center>
</div>
<!--
<div class="row">
	<div class="col-lg-6 signstuff left" >
		<p id="d1" class="destination fontsforweb_fontid_507"> Oxford Circus </p>
		<p id="i1" class="information fontsforweb_fontid_507"> Temperature: 8&deg;C </p>
	</div>
	<div class="col-lg-6 signstuff right" >
		<p id="d2" class="destination fontsforweb_fontid_507"> Picadilly Circus </p>
		<p id="i2" class="information fontsforweb_fontid_507"> Air Quality &darr; 4% </p>
	</div>
</div>	

<div class="row">
	<div class="col-lg-6 signstuff left" >
		<p id="d1" class="destination fontsforweb_fontid_507"> Leicester Square </p>
		<p id="i1" class="information fontsforweb_fontid_507"> Noise &uarr; 3% </p>
	</div>
	<div class="col-lg-6 signstuff right" >
		<p id="d2" class="destination fontsforweb_fontid_507"> Covent Garden </p>
		<p id="i2" class="information fontsforweb_fontid_507"> 3&deg;C less than last month </p>
	</div>
</div>	-->