<div class="">
	<div class="row">
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked what-selector">
				<li role="" class="li-header"><a href="#">Display what</a></li>
				<hr class="underline">
				<li role="presentation" class="active"><a href="#">Most significant change</a></li>
				<li role="presentation"><a href="#">Cycle through readings</a></li>
				<li role="presentation"><a href="#">Air Quality</a></li>
				<li role="presentation"><a href="#">Temperature</a></li>
				<li role="presentation"><a href="#">Noise</a></li>
				<li role="presentation"><a href="#">Humidity</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked as-selector">
				<li role="" class="li-header"><a href="#">Displayed as</a></li>
				<hr class="underline">
				<li role="presentation" class="active"><a href="#">Current value</a></li>
				<li role="presentation"><a href="#">Trend over time scale</a></li>
				<li role="presentation"><a href="#">Compared with historical reading</a></li>
				<li role="presentation"><a href="#">...</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-pills nav-stacked time-selector">
				<li role="" class="li-header"><a href="#">Time Scale</a></li>
				<hr class="underline">
				<li role="presentation" class="active"><a href="#">1 Week</a></li>
				<li role="presentation"><a href="#">2 Weeks</a></li>
				<li role="presentation"><a href="#">1 Month</a></li>
				<li role="presentation"><a href="#">3 Months</a></li>
				<li role="presentation"><a href="#">1 Year</a></li>
				<li role="presentation"><a href="#">2 Years</a></li>
			</ul>
		</div>
	</div>
</div>

<hr>
<div>
	<center>
		<img src="images/sample-signs-custom.png" />
	</center>
</div>
<!--
<div class="row">
	<div class="col-lg-6 signstuff left" >
		<p id="d1" class="destination fontsforweb_fontid_507"> Oxford Circus </p>
		<p id="i1" class="information fontsforweb_fontid_507"> Temperature: 8&deg;C </p>
	</div>
	<div class="col-lg-6 signstuff right" >
		<p id="d2" class="destination fontsforweb_fontid_507"> Picadilly Circus </p>
		<p id="i2" class="information fontsforweb_fontid_507"> Air Quality &darr; 4% </p>
	</div>
</div>	

<div class="row">
	<div class="col-lg-6 signstuff left" >
		<p id="d1" class="destination fontsforweb_fontid_507"> Leicester Square </p>
		<p id="i1" class="information fontsforweb_fontid_507"> Noise &uarr; 3% </p>
	</div>
	<div class="col-lg-6 signstuff right" >
		<p id="d2" class="destination fontsforweb_fontid_507"> Covent Garden </p>
		<p id="i2" class="information fontsforweb_fontid_507"> 3&deg;C less than last month </p>
	</div>
</div>	-->