<div class="floater">
	<img src="images/big-map.png" />
</div>

<div class="recalc-modal">
	<p>Recalculating...</p>
</div>

<div class="holder row">
	<!-- Deets + map -->
	<div class="col-md-3 card-container sc-background">
		<div class="details">
			<p class="name">John Doe</p>
			<p>Home device</p>
			<p>Islington, London</p>
			<p>UK</p>

		</div>
		<div>
			<img class="map" style="width: 100%; height: auto;" src="images/mini-map.png" />
		</div>
	</div>

	<div class="col-md-9">
		<div id="graph" class="col-md-12">
			<center>
				<img src="images/graph.png" />
			</center>
		</div>
		<!-- temp + CO -->
		<div class="col-md-4 card-container">
			<img class="clickable card" style="width: 100%; height: auto;" src="images/temp_card.png" />
			<img class="clickable card" style="width: 100%; height: auto;" src="images/CO_card_rect.png" />

		</div>

		<!-- Humidity + NO2 -->
		<div class="col-md-4 card-container">
			<img class="clickable card" style="width: 100%; height: auto;" src="images/humid_card.png" />
			<img class="clickable card" style="width: 100%; height: auto;" src="images/CO_card_rect.png" />
		</div>

		<!-- Light + Noise (optional) -->
		<div class="col-md-4 card-container">
			<img class="clickable card" style="width: 100%; height: auto;" src="images/light_card.png" />
			<img class="clickable card" style="width: 100%; height: auto;" src="images/CO_card_rect.png" />
		</div>

		</div>
	</div>
</div>