html, body {
    margin: 0;
    height: 100%;
}

input[type="submit"]{
	margin-top: 1em !important;
}

legend{
	margin-top: 1em;
}
.card-container{

}

.card{
	border: 0.25em solid white;
}

.active-card{
    border: 0.25em solid #295da6;
}

.card-container *{
	height: auto;
	margin: auto auto 1em auto;
}

.details{
	padding: 1em;
	font-size: 1.2em;
}

.details *{
	height: auto;
}

.sc-background{
	background: #295da6;
	color: white;
}

.centered{
	text-align: center;
}

.map{
	cursor: pointer;
}

.floater{
	overflow: hidden;
	position: absolute;
	bottom: 100px;
	left: 24px;
	z-index: 9000;
	border: 0.25em solid #232323;
	display: none;
	cursor: pointer;
	max-height: 610px;
}

.recalc-modal{
	background: rgba(0, 0, 0, 0.25);
	display: none;
	position: absolute;
	z-index: 9000;
	color: white;
	font-size: 5em;
	text-align: center;
}

.recalc-modal p {
	margin-top: 3em;
	background: rgba(0, 0, 0, 0.25);
}

.right-aligned{
	text-align: right;
}

.top-bottom-margin{
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.deets{
	background: #2e67b1;
	padding: 1em;
	color: white;
}

.deet-reading *{
	margin: 0.5em;
}

.deet-reading .min{
	font-size: 0.8em;
}

.deet-reading .now{
	font-size: 1.2em;
}

.deet-reading .max{
	font-size: 0.8em;
}

.alert li{
	margin: auto;
	width: 75%;
}
.padding{
	padding: 1em;
}

.tiny{
	font-size: 0.80em;
}

#graph{

}

.graph-instruction{
	display: none;
	text-align: center;
	z-index: 9001;
}

.graph-instruction p{
	margin-top: 3.5em;
	font-size: 1.5em;
	color: white;
	padding: 1em;
	background: rgba(0, 0, 0, 0.25);
}

#graph-reading{
	display: none;
	position: absolute;
	left: 15px;
	top: 0px;
}

.signstuff{
	background: url(../images/sign-right.png);
}

li.li-header{
	color: #232323;
	font-size: 1.5em;
	background: white;
	cursor: default;
}

li.li-header a{
	color: #232323;
}

li.li-header a:hover{
	color: #232323;
	background: white;
	color: #232323;
	
}

li.li-header:hover{
	background: white;
	color: #232323;
}

.signstuff p{
	color: #ffba34;
}
.signstuff .destination{
	font-size: 2.25em;
}

.signstuff .information{
	font-size: 2em;
}

.signstuff.left{
	text-align: right;
}

.signstuff.right{
	text-align: left;
}

hr.underline{
	margin-top: 0em;
}


.validation-error{
	-moz-box-shadow: 0 0 5px red;
	-webkit-box-shadow: 0 0 5px red;
	box-shadow: 0px 0px 5px red;
}

.big-label{
	font-weight: bold;
	font-size: 1.25em;
}

.clickable{
	cursor: pointer;
}

.clickable:hover{
	border: 0.25em solid #295da6;
}

.btn{
	margin-bottom: 1em;
}

.input-group{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table.sortable thead {
    background-color:#eee;
    color:#29292E;
    font-weight: bold;
    cursor: default;
}

.horizontal-form *{
	margin-left: 1em;
	margin-right: 1em;
}

.cancelled{
	color: red;
	text-decoration: line-through;
}

tr.cancelled td{
	color: red;
	text-decoration: line-through;	
}

.round-navs{
	width: 10em;
	height: 10em;
	border: solid 2px #428bca;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	text-align: center;
	padding-top: 4.2em;
	display: block;
	margin: 2em;
}

.round-navs:hover{
	text-decoration: none;
	color: white;
	background: #428bca;
	border: solid 2px white;
}

.monochrome-btn{
	padding: 1em 5em;
	border: solid 3px #232323;
	color: #232323;
	width: 100%;
	display: block;
	font-size: 1.2em;
}

.monochrome-btn:hover{
	background: #232323;
	color: white;
	text-decoration: none;
}

.monochrome-btn:hover::before{
	content: "-- ";
}

.monochrome-btn:hover::after{
	content: " --";
}

.disabled-btn{
	cursor:not-allowed;
	border: solid 3px #dfdfdf;
	color: #dfdfdf;
}

.disabled-btn:hover{
	cursor:not-allowed;
	border: solid 3px #dfdfdf;
	color: #dfdfdf;
	background: white;
}

.footer{
	text-align: right;
	margin-top: 4em;
	padding: 2em 2em;
	width: 80%;
	background: #EEEEEE;
	border-radius: 1.5em 1.5em 0 0;
	bottom: 0px;
	left: 10%;
	position: static;
}

.footer *{
	text-align: right;
	content: 
}
